[Unit]
Description=CKB Agent
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/utxo-global-tg-bot
Environment="PATH=/home/ubuntu/utxo-global-tg-bot/pyenv/bin"
ExecStart=/home/ubuntu/utxo-global-tg-bot/pyenv/bin/python api.py

[Install]
WantedBy=multi-user.target