[Unit]
Description=Coti Agent
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/ac-ai-model/agent
Environment="PATH=/home/ubuntu/ac-ai-model/agent/pyenv/bin"
ExecStart=/home/ubuntu/ac-ai-model/agent/pyenv/bin/python api.py

[Install]
WantedBy=multi-user.target