[Unit]
Description=Utxo Agent TGBot
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/utxo-global-tg-bot
Environment="PATH=/home/ubuntu/utxo-global-tg-bot/pyenv/bin"
ExecStart=/home/ubuntu/utxo-global-tg-bot/pyenv/bin/python tgbot.py

[Install]
WantedBy=multi-user.target